
@import url(http://fonts.googleapis.com/css?family=Anton|Maven+Pro:500,700);


/*================================
    SERVICES STYLES
==================================*/
#services {
    background-color: rgba(237, 237, 237, 1);
}

    #services i {
        font-size: 80px;
        padding: 30px;
        color: #FF2276;
    }

    #services h4 {
        padding-bottom: 5px;
        padding-top: 15px;
    }
/* =============================================================
  CLIENTS SECTION STYLES
 ============================================================ */

#clients {
    background: url(../img/clients.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

    #clients .overlay {
        background-color: rgba(0,0,0,0.7);
        padding-top: 90px;
        min-height: 300px;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 100px;
    }

.clients-carousel {
    margin-top: 50px; /*SMALL TOP MARGIN FOR SPACE */
    padding: 0 30px 30px 30px;
}

    .clients-carousel .thumbnail {
        border: 1px solid #FF2276;
    }

    .clients-carousel .carousel-control.left {
        height: 30px;
        width: 25px;
        margin-top: 45px;
        background: #FF2276;
        left: -15px;
    }

    .clients-carousel .carousel-control.right {
        height: 30px;
        width: 25px;
        margin-top: 45px;
        background: #FF2276;
        right: -15px;
    }

    .clients-carousel img {
        width: 100%;
        height: 120px;
    }

#clients .thumbnail {
    background-color: transparent;
}

/* =============================================================
 PORTFOLIO SECTION STYLES
 ============================================================ */

/* FOR CHANGING COLOR OF ACTIVE CATEGORY */
.caegories a.active {
    background-color: #FF2276;
    border: 2px solid #FF2276;
}

/* FOR TRANSITION BEAUTIFULLY */
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

#works .work-wrapper {
    border: 2px solid #FF2276;
    padding: 2px;
    margin: 5px 5px 10px 5px;
}

#works img {
    filter: gray; /* FOR IE6-9 */
    -webkit-filter: grayscale(1); /* FOR Google Chrome, Safari 6+ and  Opera 15+ */
    opacity: 0.8;
}

    #works img:hover {
        filter: none; /* FOR IE6-9 */
        -webkit-filter: grayscale(0); /* FOR Google Chrome, Safari 6+ and  Opera 15+ */
        opacity: 1;
    }

.contact{
    background: linear-gradient(to right, #F97068 10%, #FCBF49 29%, #F77F00 100%);
}

.form-style-1 {
	margin:10px auto;
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 1.3em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 5px;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
    color: #212738;
    font-size: 1.3em;
	font-weight: 500;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #003049;
	padding: 10px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 150px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4F4789;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4F4789;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}